@font-face {
    font-family: Futura;
    src: url(../fonts/FuturaPTMedium.otf);
}

body{
    font-family: Futura;
    letter-spacing: 1px;
    color: white;
    background-color: tomato;
}
a{
    text-decoration: none;
}

h1{
    font-size: 72px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

div{
    text-align: center;
}

.buttonLink{
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 12px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid white;
    transition: background-color 0.2s;
}

.buttonLink:hover{
    color:black;
    background-color: white;
    transition: background-color 0.2s;
}

#social{
    bottom: 30px;
}

.profiePic{
    margin-bottom: 25px;
}
.socialPic{
    width: 25px;
    height: 25px;
    padding: 3px;
    opacity: 0.5;
}

.socialPic:hover{
    opacity: 1;
}

#container{
    top:50%;
    left:50%;
    position: absolute;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#photoMe{
    width: 245px;
    height: 245px;
    border-radius: 50%;
    border: 2px solid white;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-name: slideIn;
    animation-duration: 0.5s
}

.close {
    color: white;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {padding: 2px 16px;}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}